bibliografia/IGN - Argentina Fisico-Natural (2020).pdf
bibliografia/INTA Corrientes_ BellaVista_Hamze_LM_Almirón Informe_Agrometeorológico_anual2020.pdf
bibliografia/INTA Corrientes_ BellaVista_Hamze_LM_Almirón Informe_Agrometeorológico_dic2024.pdf
bibliografia/Agosta - Variaciones del clima terrestre y rayos cósmicos galácticos durante el ciclo solar.pdf
bibliografia/INTA_CRSalta-Jujuy_EEASalta_Atlas_climatico_digital_de_la_argentina.pdf
bibliografia/Bustos et al - Estudio comparativo de tres modelos climaticos en arg 2017.pdf
